.inventory-card{
    border: 2px solid #222;
    margin: 20px 40px;
    border-radius: 15px;
}

.inventory-card .car-img{
    width: 400px;
}
.inventory-card .car-img img{
    width: 330px;
    border-radius: 20px;
    padding: 20px;
}
.single-inventory{
    margin-top:100px ;
    margin-bottom: 200px;
}